# These are the standard device variables
DEVICE=tv1
NAME=TV 1
IP=192.168.xxx.xxx
CODE=1234

# These are the variables for inputs
DEVICE__MEDIA_PLAYER=extInput:cec?type=player&port=4&logicalAddr=4
DEVICE__BLURAY=extInput:cec?type=player&port=4&logicalAddr=8
DEVICE__HDMI_4=extInput:cec?type=freeuse&port=4&logicalAddr=5